
            h1{
            
                font-size: 6em;           
            }
            
            h2 {
            
                font-size: 1.5em;
            }
            
            nav a {
                font-size: 1.75em;
                
                display: inline;
                
                [COLOR="Red"]padding-right: 500px;[/COLOR]
            }
            
            table {
                  
                  border-collapse: collapse;
                
                  width: 100%;
                  
                  border: 3px solid white;
            }
            
            tr, td, th {
                border: 1px solid green;
                }
            
            td {
                text-align: center;
            }
            
            caption {
                font-size: 2em;
            }
            